h1.name {
    display: inline;
    
  }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

span#occupation {
  font-style: italic;
  font-family: initial;
  font-size: 25px;
}

span#location {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.button {
  float: right;
  max-height: fit-content;

  
}


